.tool-container {
    box-sizing: border-box; 
    padding: 40px;

    .info-sections {
        padding: 20px 0px; 
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column; 
        
        .section {
            padding: 10px 0px;
            width: 800px; 
            cursor: pointer;
            border-bottom: 3px dashed black;
        }
    }
}